#i1 {
    font-size: 27px !important;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

.buttons {
    overflow: auto;
}

.question_no {
    position: absolute;
    top: 17vh;
    left: 1vw;
    font-size: 45px;
    font-weight: 500;
}

.points {
    position: absolute;
    top: 30vh;
    left: 3vw;
    font-size: 25px;
    font-weight: 500;
}

.form {
    position: absolute;
    top: 40px;
    left: 10px;
    border-radius: 0;
    gap: 1em;
    width: 50vw;
    height: 52vh;
    background: none;
    border: 6px solid #0e6cdb;
}