.list1 {
    counter-reset: serial-number;  /* Set the serial number counter to 0 */
    position: relative;
    top: 8vh;
}

.list1 td:first-child:before {
    counter-increment: serial-number;  /* Increment the serial number counter */
    content: counter(serial-number);  /* Display the counter */
}

th, td {
    text-align: left;
}

table {
    font-size: 30px;
    width: 92%;
}